/* Base Styles */
html {
    background-color: #121212;
}
body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    color: #FAFAFA;
    border-radius: .5em;
    width: 90%;
    margin: 1em auto;
}
main {
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: #1d1d1d;
    border-radius: .5em .5em 0 0;
    display: flex;
    flex-wrap: wrap;
}
header h2 {
    width: 350px;
    
    align-items: center;
}
header nav {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    gap: 10px; 
    margin-left: auto;
}
header nav a {
    text-decoration: none;
}
main {
    margin: 0;
    display: flex;
}
main article {
    width: 500px;
    flex-grow: 1;
}
main section {
    width: 250px;
    flex-grow: 1;
}
main aside {
    width: 250px;
    flex-grow: 1;
}
footer {
    background-color: #1d1d1d;
    border-radius: 0 0 .5em .5em;
}

/* Link Styles */
a:link {
    color: #FAFAFA;
}
a:visited {
    color: #FAFAFA;
}
a:hover {
    color: steelblue;
}
a:active {
    color: #FAFAFA;
}

/* Lists */
ul {
    margin: 0;
}
li {
    margin: .5em 0;
}

/* Text */
p {
    padding: 1em 1rem 1em;
    margin: 0;
}
header h2 {
    padding: 1rem;
}
footer p {
    padding: 1em;
    text-align: center;
}
main h3 {
    margin: 0;
    padding-left: 1rem;
}
#top {
    padding-top: 1rem;
}

/* Fields */

fieldset {
    margin: 1rem;
    padding: 1rem;
}
label {
    width: 8em;
    float: left;
    margin-bottom: .5em;
    margin-right: .5em;
}

/* Tables (code taken from tech_support) */
table {
    margin: 1rem;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}

img {
    margin: 1rem;
}
@media (max-width: 1000px) {
html {
    font-size: 16px;
}
   body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    color: #FAFAFA;
    border-radius: .5em;
    width: 100%;
    margin: 0;
}
aside {
    margin-bottom: 1rem;
}
header h2 {
    font-size: 4em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-size: 32px;
}
p {
    font-size: 2rem;
}
a {
    font-size: 2rem;
}
label {
    font-size: 2em;
}
legend {
    font-size: 2em;
}
input {
    font-size: 2em;
}
select {
    font-size: 2em;
}
header nav {
   margin-right: auto;
   margin-left: auto; 
   margin-bottom: 2rem;
   gap: 20px;
   width: 500px;
}
header {
	margin-top: 0;
	
}
